<div class="container text-center mt-5">

  <h1 class="mb-3">✨ KidCoins Adventure ✨</h1>

  <p class="lead fs-4">
    Earn ⭐ Stars, Save 💰 Coins, Unlock 🎁 Dreams!
  </p>

  <div class="mt-4">
    <button class="btn btn-primary btn-lg me-3" [routerLink]="['/salary-list']">
      💼 Salary Levels
    </button>

    <button class="btn btn-success btn-lg me-3" [routerLink]="['/kids/balance']">
      📚 Balance
    </button>

    <button class="btn btn-warning btn-lg" [routerLink]="['/wish-list']">
      🎁 Wish List
    </button>
  </div>

</div>
