<div class="container mt-4">
  <div class="card shadow-lg border-0 p-4">
    <h4 class="mb-3 text-primary">
      <i class="bi bi-journal-plus me-2"></i> Add My Earning
    </h4>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label fw-bold">Name</label>
        <input type="text" class="form-control" formControlName="kidName" placeholder="Enter your name">
      </div>

      <div class="mb-3">
        <label class="form-label fw-bold">Task</label>
        <input type="text" class="form-control" formControlName="task" placeholder="What did you do?">
      </div>

      <div class="mb-3">
        <label class="form-label fw-bold">Date</label>
        <input type="date" class="form-control" formControlName="date">
      </div>

      <div class="mb-3">
        <label class="form-label fw-bold">Time Spent (minutes)</label>
        <input type="number" class="form-control" formControlName="minutes" min="1">
      </div>

      <div class="mb-3">
        <label class="form-label fw-bold">Salary Level</label>
        <select class="form-select" formControlName="salaryLevel">
          <option value="" disabled>Select your level</option>
          @for(level of addEarningStore.salaryLevels(); track $index) {
            <option [value]="level.name">
              {{ level.name }} ({{ level.ratePerMinute }} CHF/min)
            </option>
          }

        </select>
      </div>

    @if(addEarningStore.earnedAmount(); as earnedAmount) {
      <div  class="alert alert-success fw-bold text-center">
        💰 You earned: {{  earnedAmount | number:'1.2-2' }} CHF
      </div>
    }
      <div class="text-center">
        <button type="submit" class="btn btn-primary px-4" [disabled]="form.invalid">
          <i class="bi bi-save me-2"></i> Save
        </button>
      </div>
    </form>
  </div>
</div>
