<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="mb-0">🪙 {{ kidName() }}'s Magic Wish List</h3>
    <button class="btn btn-primary" (click)="addWish.emit()">
      🪄 Add a wish  for {{ kidName() }}
    </button>
  </div>

  @if(updatedlWishes().length) {
    <p-table [value]="updatedlWishes()" dataKey="id" editMode="row" [tableStyle]="{'min-width': '50rem'}">
      <ng-template #header>
        <tr>
          <th>Wish</th>
          <th>Price</th>
          <th>Store</th>
          <th>Desired Date</th>
          <th>Purchased?</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template #body let-wish let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="wish">
          <td>
            <p-cellEditor>
              <ng-template #input>
                <input
                  pInputText type="text"
                  [(ngModel)]="wish.wish" />
              </ng-template>
              <ng-template #output>
                {{wish.wish}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template #input>
                <input
                  pInputText type="text"
                  [(ngModel)]="wish.price"
                  required />
              </ng-template>
              <ng-template #output>
                {{wish.price | number:'1.2-2'}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template #input>
                <input
                  pInputText type="text"
                  [(ngModel)]="wish.whereToBuy"
                  required />
              </ng-template>
              <ng-template #output>
                {{wish.whereToBuy || '-'}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template #input>
                <input
                  pInputText type="text"
                  [(ngModel)]="wish.expectedDate"
                  required />
              </ng-template>
              <ng-template #output>
                {{wish.expectedDate}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template #input>
                <p-select
                  [options]="purchasedStatuses"
                  appendTo="body"
                  [(ngModel)]="wish.bought"
                  [style]="{'width':'100%'}" />
              </ng-template>
              <ng-template #output>
                <p-tag
                  [value]="wish.bought ? 'Yes' : 'No'"
                  [severity]="wish.bought ? 'success' : 'warn'" />
              </ng-template>
            </p-cellEditor>
          </td>

          <td>
            <div class="flex items-center justify-center gap-2">
              @if(!editing) {
                <button
                  pButton
                  pInitEditableRow
                  pRipple
                  type="button"
                  class="p-button-text p-button-rounded p-button-secondary"
                  (click)="onRowEditInit(wish)"
                >
                  <i class="pi pi-pencil"></i>
                </button>
              }
              @else {
                <button
                  pButton
                  pRipple
                  type="button"
                  pSaveEditableRow
                  icon="pi pi-check"
                  (click)="editWish.emit(wish)"
                  text
                  rounded
                  severity="secondary"
                ></button>
                <button
                  pButton
                  pRipple
                  type="button"
                  pCancelEditableRow
                  icon="pi pi-times"
                  (click)="onRowEditCancel(wish)"
                  text
                  rounded
                  severity="secondary"
                ></button>
              }
              <button
                pButton
                pRipple
                type="button"
                class="p-button-text p-button-rounded p-button-secondary"
                (click)="removeWish.emit(wish)"
              >
                <i class="pi pi-trash"></i>
              </button>

            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>

  } @else {
    <div class="alert alert-info p-4 text-center">
      <h5>No wishes found for {{ kidName() }}.</h5>
      <p>Would you like to <button class="btn btn-sm btn-primary" (click)="addWish.emit()">add one</button>?</p>
    </div>
  }
</div>




