<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;" data-bs-theme="light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Kids Salary</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/" routerLinkActive="active" aria-current="page">Home</a>
        <a class="nav-link" routerLink="/salary-list" routerLinkActive="active">🏴‍☠ Treasure Tiers</a>
        <a class="nav-link" routerLink="/add-earning" routerLinkActive="active">🎯 Add My earning</a>
        <a class="nav-link" routerLink="/add-spending" routerLinkActive="active">🛒 Add My spending</a>
        <a class="nav-link" routerLink="/kids/balance" routerLinkActive="active">🪙 Piggy Bank Ledger</a>
        <a class="nav-link" routerLink="/wish-list" routerLinkActive="active">🪄 Magic Wishlist</a>
      </div>
    </div>
  </div>
</nav>
